* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #575757;
}

/* ============= HEADER =================== */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #3d3d3d;
  box-shadow: 1px 1px 30px #fff;
}

.header a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

/* ================================================== */
.main-title {
  color: #fff;
  text-align: center;
  margin: 2rem 0;
  font-size: 3.4rem;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.project-item {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
}

.project-item img {
  width: 100%;
}

.project-item > div {
  padding: 0.8rem;
}

.project-title {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.project-meta {
  font-size: 1.2rem;
  color: #3d3d3d;
}

.project-description {
  color: #171717;
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.btn-primary {
  background: #3d3d3d;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.4s;
  box-shadow: 1px 1px 5px #171717;
  margin-bottom: 0.5rem;
}

.btn-primary:hover {
  background: #171717;
}
