* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  background-color: #f4f4f4;
  color: #444444;
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  list-style: none;
}

.row {
  display: flex;
}

.col-3 {
  width: 25%;
}

.font-weight-bolder {
  font-weight: bolder;
}

.icon-new {
  background-color: #ff424e;
  color: #fff;
  padding: 0.4rem 0.6rem;
  line-height: 1;
  margin-left: 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.icon-hot {
  color: #ff424e;
}

.wrapper {
  padding: 4rem 0;
}

.container {
  width: 1256px;
  margin: 0 auto;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.navbar-nav {
  width: 260px;
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(69, 69, 69, 0.2);
}

.nav-item:hover {
  background-color: #189eff;
}

.nav-item:hover > .nav-link {
  color: #fff;
}

.nav-item:hover > .nav-link::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 1.7rem solid transparent;
  border-bottom: 1.7rem solid transparent;
  border-left: 1.7rem solid #189eff;
  z-index: 2;
}

.nav-item:hover > .sub-menu {
  display: block;
}

.nav-link {
  color: #444444;
  display: flex;
  align-items: center;
  line-height: 3.4rem;
  position: relative;
}

.nav-link i {
  width: 3.4rem;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  font-size: 1.6rem;
}

.sub-menu {
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  width: 996px;
  height: calc(100% + 2px);
  /* height: 100%; */
  background-color: #fff;
  border: 1px solid rgba(69, 69, 69, 0.2);
  padding: 1rem 2rem;
}

.sub-menu ul {
  margin-bottom: 2rem;
}

.sub-menu ul li {
  margin: 0.6rem 0;
}

.sub-menu ul li a:hover {
  color: #189eff;
}
