* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #172345;
}

.btn-primary {
  background: #172345;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid #172345;
  transition: all 0.4s;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.btn-lg {
  font-size: 1.5rem;
}

.btn-primary:hover {
  background: #fff;
  color: #172345;
}

.btn-outline {
  background: #fff;
  padding: 6px;
  display: block;
  border-radius: 5px;
  border: 1px solid #172345;
  text-align: center;
  align-items: stretch;
  color: #172345;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.4s;
}

.btn-outline:hover {
  border-color: #4d71d5;
  color: #4d71d5;
}

.section-title {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

.section-title span {
  padding-bottom: 3px;
  border-bottom: 1px solid orange;
}

/* ======================= HEADER =========================== */
#header {
  background: linear-gradient(to bottom, #93bfc5, #ffffff);
}

/* ======================= NAVBAR =========================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
}

.navbar__brand a {
  font-weight: 900;
  color: #fff;
  font-size: 2.4rem;
}

.navbar__left,
.navbar__right {
  display: flex;
}

.navbar__left li,
.navbar__right li {
  padding: 2px;
  border-bottom: 1px solid transparent;
  margin: 0 1rem;
  transition: border 0.4s;
}

.navbar__left li a,
.navbar__right li a {
  color: #172345;
  /* font-weight: bolder; */
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
}

.navbar__left li:hover,
.navbar__right li:hover {
  border-bottom: 1px solid orange;
}

/* ======================= HEADER HERO =========================== */
.header__hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__hero-content {
  width: 780px;
  text-align: center;
  padding: 5rem 0;
}

.header__hero-content h1 {
  font-size: 4.6rem;
  margin-bottom: 1rem;
}

.header__hero-content h4 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0 3.8rem;
}

.header__hero-content img {
  max-width: 100%;
  display: block;
}

/* ======================= CUSTOMERS =========================== */
#customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fdf8f5;
}

#customers > a {
  width: 100px;
  padding: 20px;
}

#customers > a img {
  max-width: 100%;
  display: block;
}
#customers > div {
  width: 100px;
}

/* ======================= PRODUCTS =========================== */
#products {
  padding: 5rem 0;
  max-width: 1440px;
  margin: 0 auto;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: 355px;
  padding: 10px;
}

.product-image {
  height: 425px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #a8c0cc;
}

.product-image img {
  width: auto;
  height: 100%;
  display: block;
}

.product-info {
  padding: 15px;
  background: #f4f9fb;
}

.product-info h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.product-info p {
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
}

/* ============================== HOW TO ==============================*/
#how-to {
  padding: 5rem 0;
  display: flex;
}

.how-to__left,
.how-to__right {
  width: 50%;
}

.how-to__left {
  padding: 0 4rem;
}

.how-to__left .section-title {
  text-align: left;
  margin-bottom: 0;
}

.how-to__left .content h3 {
  font-size: 7.6rem;
  line-height: 1;
  margin-bottom: 5rem;
}

.how-to__left .content .steps li {
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
}

.how-to__left .content .steps li .number {
  background: #e4f5fb;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.how-to__left .content .steps li .first-word {
  font-weight: bold;
}

.how-to__left .content a {
  color: #172345;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
  display: inline-block;
  font-size: 1.6rem;
}

/* ============================= PROMISE ============================= */
#promise {
  margin-top: 5rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, #c2dcdf, #fff, #c2dcdf);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promise-content {
  width: 700px;
  padding: 5rem 0;
}

.promise-content h2 {
  font-size: 6.25rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.promise-content p {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  line-height: 1.6;
}

/* ============================= GET STARTED ============================= */
#get-started {
  background-image: url('../images/get-started.png');
  background-position: 50% -30%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  background-color: #d3e1e6;
}

#get-started > div {
  width: 700px;
  /* margin-top: 20rem; */
  padding-top: 37rem;
  text-align: center;
}

#get-started > div h2 {
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.5rem;
  line-height: 0.9;
}

#get-started > div p {
  font-size: 1.5rem;
  padding: 0 4rem;
  margin-bottom: 1.5rem;
}
